body { background-color:var(--303-C); }
.container { display:flex; width:90vw; }

.panel {
    box-shadow: 0 0 1rem var(--420-C);
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    height: 90vh;
    flex: .5;
    margin: 10px;
    position: relative;
    transition: flex .7s ease-in;
    cursor: pointer;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active { flex: 5; }
.panel.active h3 { opacity: 1; }

@media (max-width: 768px) {
    .container { width: 100vw; }
    .panel:nth-of-type(4),
    .panel:last-child {
        display: none;
    }
}